.main_body{
    margin: 0% 0% 0% 0%;
    background-color: #222222;
}

.header{
    background-color: #555555;
    width: 100%;
    height: 10%;
    top: 0%;
}

.footer{
    background-color: silver;
    width: 100%;
    height: 10%;
    top: 0%;
}

.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5%;
}

.games{
    width: 30%;
}
