<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparador e Explorador de DLCs</title>
    <script>
        function handle_dlc_ordering(dropdown){
            const selected_value = dropdown.value;
            if(selected_value == "ordered_by_price"){
                load_dlcs("price")
            }
            else{
                load_dlcs("release_date")
            }
        }
        
        function load_dlcs(ordering){
            var game_id = "{{ game_id }}";

            if(ordering = "price"){
                var url = "https://exa618individualprojectpart2-production.up.railway.app/get_game_dlcs_ordered_by_price/" + game_id;
            }
            else{
                var url = "https://exa618individualprojectpart2-production.up.railway.app/get_game_dlcs_ordered_by_release_date/" + game_id;
            }
            
            var ajax = new XMLHttpRequest();

            ajax.open("GET", url, true);

            ajax.onload = function(){
                if (ajax.status === 200){
                    var jsonObj = JSON.parse(ajax.responseText);

                    var html = "";

                    jsonObj.forEach(function(item){
                        var dlc_access_date = item.dlc_access_date;
                        var date = new Date(dlc_access_date);
                        dlc_access_date = date.toLocaleDateString("pt-BR", {
                            timeZone: "UTC",
                            day: "numeric",
                            month: "long",
                            year: "numeric"
                        })

                        var dlc_release_date = item.dlc_release_date;
                        date = new Date(dlc_release_date);
                        dlc_release_date = date.toLocaleDateString("pt-BR", {
                            timeZone: "UTC",
                            day: "numeric",
                            month: "long",
                            year: "numeric"
                        })

                        var dlc_actual_price = item.dlc_actual_price;
                        var dlc_cover = item.dlc_cover;
                        var dlc_name = item.dlc_name;
                        var dlc_url = item.dlc_url;

                        html += `
                            <div class="items">
                                <a class="item_cover" href="${dlc_url}" target="_blank">
                                    <img src="${dlc_cover}" alt="">
                                </a>
                                <a class="item_name" href="${dlc_url}" target="_blank">${dlc_name}</a>
                                <p class="item_description">
                                    Preço: € ${dlc_actual_price}
                                    <br>
                                    Lançamento: ${dlc_release_date}
                                    <br>
                                    Acesso: ${dlc_access_date}
                                </p>
                            </div>
                        `
                    });

                    document.getElementById("item_list").innerHTML = html;
                }
            }
            ajax.send();
        }

        function search_item(text){
            text = text.toLowerCase();

            var items = document.querySelectorAll(".items");

            items.forEach(function(item){
                var item_name = item.querySelector(".item_name").innerText.toLowerCase();

                if(item_name.includes(text)){
                    item.style.display = "initial";
                }
                else{
                    item.style.display = "none";
                }
            });
        }
    </script>
</head>
<body onload="load_dlcs('price')">
    <div class="header">
        <a id="header_text" href="/">
            <p id="page_name">Explorador de DLCs</p>
        </a>
        <div class="search_container">
            <input type="text" id="search_bar" onkeyup="search_item(this.value)" placeholder="Pesquise por DLC">
        </div>
    </div>
    
    <div class="ordering_selector_container">
        <p>Ordenar por:</p>
        <select id="dlc_ordering_selector" onchange="handle_dlc_ordering(this)">
            <option value="ordered_by_price">Preço</option>
            <option value="ordered_by_release_date">Data de Lançamento</option>
        </select>
    </div>

    <div id="item_list"></div>

    <div class="footer">© José Victor, 2026</div>
</body>
</html>
