<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <script>
        function load_games(){
            var url = "https://exa618individualprojectpart2-production.up.railway.app/get_games";
            var ajax = new XMLHttpRequest();

            ajax.open("GET", url, true);

            ajax.onload = function(){
                if (ajax.status === 200){
                    var jsonObj = JSON.parse(ajax.responseText);

                    var html = "";

                    jsonObj.forEach(function(item){
                        var game_cover = item.game_cover;
                        var game_id = item.game_id;
                        var game_name = item.game_name;
                        var game_url = item.game_url;

                        html += `
                        <div>
                            <img src="${game_cover}" alt="">
                            <a href="">${game_name}</a>
                            <a href="${game_url}">Steam</a>
                        </div>
                        `
                    });

                    document.getElementById("gameList").innerHTML = html;
                }
            }
            ajax.send();
        }
    </script>
</head>
<body onload="load_games()">
    <div id="gameList"></div>
</body>
</html>
