<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explorador de DLCs - Página Inicial</title>
    <script>
        function load_games(){
            var url = "https://exa618individualprojectpart2-production.up.railway.app/get_games";
            var ajax = new XMLHttpRequest();

            ajax.open("GET", url, true);

            ajax.onload = function(){
                if (ajax.status === 200){
                    var jsonObj = JSON.parse(ajax.responseText);

                    var html = "";

                    jsonObj.forEach(function(item){
                        var game_cover = item.game_cover;
                        var game_id = item.game_id;
                        var game_name = item.game_name;
                        var game_url = item.game_url;

                        html += `
                        <div class="games">
                            <a class="game_cover" href="/get_dlcs/${game_id}">
                                <img src="${game_cover}" alt="">
                            </a>
                            <a href="/get_dlcs/${game_id}" class="game_name">${game_name}</a>
                            <a href="${game_url}" target="_blank">Ver na Steam</a>
                        </div>
                        `
                    });

                    document.getElementById("game_list").innerHTML = html;
                }
            }
            ajax.send();
        }

        function search_game(text){
            text = text.toLowerCase();

            var games = document.querySelectorAll(".games");

            games.forEach(function(game){
                var game_name = game.querySelector(".game_name").innerText.toLowerCase();

                if(game_name.includes(text)){
                    game.style.display = "initial";
                }
                else{
                    game.style.display = "none";
                }
            });
        }
    </script>
</head>
<body onload="load_games()">
    <div class="header">
        <a id="header_text" href="/">
            <p id="page_name">Explorador de DLCs</p>
        </a>
        <div class="search-container">
            <input type="text" id="search_bar" onkeyup="search_game(this.value)" placeholder="Pesquise por jogo">
        </div>
    </div>
    
    <div id="game_list"></div>

    <div class="footer">© José Victor, 2026</div>
</body>
</html>
